{
  "presets": [
    ["@babel/env", {
      "targets": {
        "browsers": ["last 2 versions"],
        "node": "6"
      },
      "loose": true,
      "useBuiltIns": false
    }],
    "@babel/preset-stage-3",
    "@babel/typescript"
  ],
  "plugins": [
    ["./arrow-function-coverage-fix.js"],
    ["@babel/plugin-transform-runtime", {
      "helpers": true,
      "polyfill": false,
      "regenerator": false,
      "moduleName": "@babel/runtime"
    }]
  ],
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  },
  "ignore": [
    "src/lib/vendor/**/*.*",
    "./arrow-function-coverage-fix.js"
  ]
}
