{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": [
            "last 2 versions"
          ],
          "node": "6"
        },
        "loose": true,
        "useBuiltIns": false
      }
    ],
    "@babel/typescript"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "helpers": true
      }
    ],
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ],
  "env": {
    "test": {
      "plugins": [
        "./test/_setup/arrow-function-coverage-fix.js",
        "istanbul"
      ]
    }
  },
  "ignore": [
    "src/lib/vendor/**/*.*",
    "./test/_setup/arrow-function-coverage-fix.js"
  ]
}
