## copy to .npmignore
.DS_Store
.idea
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/
.npm
.eslintcache
/coverage/
/.nyc_output/
/tmp/
/decl/
/docs/general/dist

## only ignore in git
/lib
/index.js
/index.d.ts
/scrollTrackerPlugin.js
/scrollTrackerPlugin.d.ts
