## copy from .gitignore
.DS_Store
.idea
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/
.npm
.eslintcache
/coverage/
/.nyc_output/
/tmp/

# .npmignore
.babelrc
.editorconfig
.eslintignore
.eslintrc.js
.gitignore
.nvmrc
.nycrc
.prettierignore
.prettierrc
.travis.yml
AUTHORS.md
CONTRIBUTING.md
tsconfig.json
tslint.json
/docs
/example
/src
/test
