{
  "sourceMap": false,
  "instrument": false,
  "check-coverage": true,
  "per-file": true,
  "lines": 0,
  "statements": 0,
  "functions": 0,
  "branches": 0,
  "include": [
    "src/**/*.{js,ts}"
  ],
  "exclude": [
    "test/**/*.spec.{js,ts}",
    "src/lib/vendor/**/*.*"
  ],
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "extension": [
    ".js",
    ".ts"
  ],
  "cache": true,
  "all": true,
  "report-dir": "./coverage"
}
